html {
    --container-size: 400px;
    --remaining-path-color: #2DAC36;
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Fira Code', monospace; */
    /* font-family: 'Courier New', Courier, monospace; */
    height: 100vh;
    margin: 0;
    background-color: #0E032B;
    color: #FFF7E5;
    font-size: 20px;
}

h1 {
    font-weight: 400;
}

p {
    line-height: 1.6;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

em {
    font-style: normal;
    font-weight: bold;
    color: #ffefca;
}

#app {
    width: var(--container-size);
    margin: 4em auto 0;
    text-align: center;
}

.controls-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.input-div {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-input {
    display: inline-block;
    width: 3em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em 1.2em;
    font-size: 1rem;
}

.button-div {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.remaining-path-color {
    color: var(--remaining-path-color);
}

button {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em 1.25em;
    font-size: 1rem;
}

/* Sets the containers height and width */
.base-timer {
    position: relative;
    height: var(--container-size);
    width: var(--container-size);
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__label {
    position: absolute;
    font-size: 3rem;

    /* Size should match the parent container */
    width: var(--container-size);
    height: var(--container-size);

    /* Keep the label aligned to the top */
    top: 0;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

}

.base-timer__path-remaining {
    /* Just as thick as the original ring */
    stroke-width: 7px;

    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;

    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;

    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;

    /* Allows the ring to change color when the color value updates */
    stroke: currentColor;
}

.base-timer__svg {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
}