.label {
  color: var(--new-text-color);
  font-size: calc(2.3rem + 1vw);
}

/* Sets the containers height and width */
.baseTimer {
  width: var(--container-size);
  max-width: var(--max-container-size);
  height: var(--container-size);
  max-height: var(--max-container-size);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controlsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0;
}
