/* Removes SVG styling that would hide the time label */
.circle {
  fill: none;
  stroke: none;
}

.label {
  position: absolute;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Size should match the parent container */
  width: var(--container-size);
  max-width: var(--max-container-size);
  height: var(--container-size);
  max-height: var(--max-container-size);
  color: var(--new-grey);
  font-size: 3rem;
}

/* The SVG path that displays the timer's progress */
.pathElapsed {
  stroke: grey;
  stroke-width: 9px;
}

.remainingPathColor {
  color: var(--remaining-path-color);
}

.pathRemaining {
  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
  /* Just as thick as the original ring */
  stroke-width: 9px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;
}

.svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

/* Sets the containers height and width */
.baseTimer {
  position: relative;
  width: var(--container-size);
  max-width: var(--max-container-size);
  height: var(--container-size);
  max-height: var(--max-container-size);
}
