.label {
  position: absolute;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Size should match the parent container */
  width: var(--container-size);
  max-width: var(--max-container-size);
  height: var(--container-size);
  max-height: var(--max-container-size);
  color: var(--new-text-color);
  font-size: 3rem;
}

/* Sets the containers height and width */
.baseTimer {
  width: var(--container-size);
  max-width: var(--max-container-size);
  height: var(--container-size);
  max-height: var(--max-container-size);
}

.controlsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0;
}
