html {
  --container-size: 70vw;
  --max-container-size: 400px;
  --new-text-color: #dbc5e7;
  --new-green: #5dd9c1;
  --new-orange: #ffbe86;
  --new-red: #ff729f;
  --new-background-color: #190933;
  --button-color: #5f507c;
  --new-purple: #b084cc;
  --button-text: #e4d4ed;
  --new-grey: #bdbfc7;
  --hover-button-text: #acfcd9;
  height: 100vh;
  margin: 0;
  color: var(--new-text-color);
  font-size: 1.2vw;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--new-background-color);
}

* {
  margin: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
}


.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popout-icon-container {
  display: flex;
  justify-content: end;
  align-items: center;
  align-self: end;
}

.popout-icon {
  margin-top: 0;
  cursor: pointer;
  margin-right: 2rem;
  border: 0;
  color: var(--button-color);
  background-color: inherit;
  font-size: 1rem;
  padding: 0;
}

.popout-icon:hover,
.popout-icon:focus {
  color: var(--new-text-color);
}

.controls-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0;
}

/* --- Hide arrows in number inputs --- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  /* html {
    font-size: 5vw;
  } */

  .base-timer__label {
    font-size: 2rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}
